*{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
header{
  position: fixed;
  background-color: #03182a;
  display: flex;
  flex-wrap: wrap;
  right: 0; left: 0; top: 0;
  /*text-align: center;*/
  justify-content: space-evenly;
  padding: 0.75rem 0.5%;
  z-index: 1000;
}
header .logo{
  font-weight: 500;
  font-size: 1.5rem;
  /*color: white;*/
  color: #fccd52;
}
header .after__logo{
  font-size: 0.9rem;
  padding: 0.5rem;
  color: white;
  display: block;
}
input{
  color: black;
  font-weight: 500;
  text-indent: 0.5rem;
}
.nav-line-1 {
 font-weight: 300;
  line-height: 0.85rem;
  font-size: 0.75rem;
  /*padding-top: 0;*/
}
header .navbar ul{
  list-style: none;
  color: white;
}
.arrow {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  color: white;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
  font-size: 0.9rem;
  padding: 0.5rem;
  color: white;
  display: block;
  /*float: right;*/
}
.onhover:hover{
  border: 0.01rem solid #f5e79a;
}
.no--padding{
  padding: 0;
}
.searchBtn{
  /*color: white;*/
  background-color: #fccd52;
  /*padding: 0.5rem;*/
  /*padding: 0.5rem 0.5rem 1rem 0;*/
  padding: 0.9rem 0.9rem 0.9rem 0.9rem;
  color: #03182a;
  cursor: pointer;
}
.searchIcon{
  width: 1.5rem;
}
input{
  padding: 1.4rem 9.9rem 0.9rem 0rem;

}

















