<header>
  <a href="#1" class="logo onhover"><section style="color: #fccd52">EcomLibrary</section> Store</a>
  <a href="#2" class="after__logo onhover">deliver to userX</a>
  <form action="" class="after__logo">
    <span >
      <input type="text" placeholder="Search product(s)">
    </span>
    <span >
      <button type="submit" class="searchBtn" >
<!--        <span style="padding-left: 0.5rem;"></span>-->
        <i >
          <img src="./assets/images/search.png" alt="" class="searchIcon" style="align-items: center">
        </i>
      </button>
    </span>
  </form>
  <nav class="navbar">
    <ul>
      <li><a href="#3" class="onhover">AR <i class="arrow down"></i> </a></li>
      <li><a href="#4" class="onhover">
        <section class="nav-line-1 ">Hello, UserX</section>
<!--        <span>Accounts & Lists </span>-->
        <span>Accounts & Lists </span>
        <i class="arrow down"></i></a></li>
      <li><a href="#5" class="onhover"><section class="nav-line-1 ">Returns</section> & Orders</a></li>
      <li><a href="#6" class="onhover">Cart</a></li>
    </ul>
  </nav>
</header>
