<header>
  <section class="myHeader1">
    <a href="#1" class="logo onhover" style="margin-left: 2rem;"><section style="color: #fccd52;">EcomLibrary</section> Store</a>
    <a href="#2" class="after__logo onhover" style="margin-left: 1.5rem">
      <img src="./assets/images/locationOfShopper.png" alt="" class="locationShoppingIcon">
      <section>
        <span style="margin-left: 0.5rem">Deliver to userX</span>
        <br>
        <span style="margin-left: 0.5rem; font-weight: 600;">Casablanca 20000</span>
      </section>
    </a>
    <form action="" class="after__logo2" style="margin-left: 1.5rem">
      <input type="text" placeholder="Search product(s)" >
      <span >
      <button type="submit" class="searchBtn" >
        <i >
          <img src="./assets/images/search.png" alt="" class="searchIcon" style="align-items: center">
        </i>
      </button>
    </span>
    </form>
    <nav class="navbar" >
      <ul >
        <li style="margin-left: 1.5rem"><a href="#3" class="onhover">AR <i class="arrow down"></i> </a></li>
        <li style="margin-left: 1.5rem"><a href="#4" class="onhover">
          <section class="nav-line-1 ">Hello, UserX</section>
          <span>Accounts & Lists </span>
          <i class="arrow down"></i></a>
        </li>
        <li style="margin-left: 1.5rem"><a href="#5" class="onhover"><section class="nav-line-1 ">Returns</section> & Orders</a></li>
        <li style="margin-left: 1.5rem; float: right">
          <a href="#6" class="onhover" style="padding-top: 0.5rem; float: right">
            <section style="margin-left: 0.5rem; color: orangered">0</section>
            <img src="./assets/images/shoppingCart2.png" alt="" class="shoppingIcon" style="display: inline">
            Cart
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <section class="myHeader2" style=" background-color: #223950;">
    <nav class="navbar2">
      <ul>
        <li>
          <a href="#11" class="displayLinkOfHeader2 onhover">
<!--            <img class="shoppingIcon2" src="./assets/images/hamburgerMenuEcom1.png" alt="">-->
            <section style="display: flex">
              <span>
                <h1 class="line--hamburgerMenu"></h1>
                <h1 class="line--hamburgerMenu"></h1>
                <h1 class="line--hamburgerMenu"></h1>
              </span>
              &nbsp;
              <span style="font-weight: 600">
                All
              </span>
            </section>
          </a>
        </li>
        <li><a href="#12" class="onhover displayLinkOfHeader2">Today's Deal</a></li>
        <li><a href="#13" class="onhover displayLinkOfHeader2">Customer Service</a></li>
        <li><a href="#14" class="onhover displayLinkOfHeader2">Buy product</a></li>
        <li><a href="#15" class="onhover displayLinkOfHeader2">Gift Cards</a></li>
        <li><a href="#16" class="onhover displayLinkOfHeader2">Sell product</a></li>
        <li><a href="#17" class="onhover displayLinkOfHeader2">Register</a></li>
        <li><a href="#18" class="onhover displayLastLinkOfHeader2">Shop great deals now</a></li>
      </ul>
    </nav>
  </section>

</header>

