<header>
  <a href="#1" class="logo onhover">EcomLibrary Store</a>
  <a href="#2" class="after__logo onhover">deliver to userX</a>
  <form action="" class="after__logo">
    <input type="text" placeholder="Search product(s)">
  </form>
  <nav class="navbar">
    <ul>
      <li><a href="#3" class="onhover">AR <i class="arrow down"></i> </a></li>
      <li><a href="#4" class="onhover">
        <section class="nav-line-1 ">Hello, UserX</section>
<!--        <span>Accounts & Lists </span>-->
        <span>Accounts & Lists </span>
        <i class="arrow down"></i></a></li>
      <li><a href="#5" class="onhover"><section class="nav-line-1 ">Returns</section> & Orders</a></li>
      <li><a href="#6" class="onhover">Cart</a></li>
    </ul>
  </nav>
</header>
